body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: Verdana, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  color: #000000;

  background-color: #D3D3D3;//цвет фона
}

.site-header .container { //параметры верхней части
  min-height: 250px;
  padding-top: 50px;
  padding-bottom: 180px;

 
}

.main-nav {
  display: flex;
  margin-bottom: 95px;
}



.site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  margin: 0;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.site-menu a {
  display: block;
  margin-right: 40px;

  font-size: 14px;
  text-decoration: none;
  color: #000000;//цвет текста в меню
}

.site-menu a:hover {
  color: white;
}

.site-menu a:active {
  color: #ccc;
}


.btn-grey:hover {
  background-color: #676767;
}

.btn-grey:active {
  background-color: #ccc;
}

.features {
  padding: 85px 0;

  background-color: #131313;

  color: #ffffff;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list li {
  position: relative;

  width: 100px;
  margin-right: 80px;
  padding-top: 100px;

  font-size: 14px;
  line-height: 20px;
  color: #d4d4d4;
}

.features-list li::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 68px;
}


.columns-container {
  display: flex;
}

.columns-container .left-column {
  width: 440px;
  margin-right: 80px;
}

.columns-container .right-column {
  width: 440px;
}

.moon-vacation {
  padding-top: 80px;
  padding-bottom: 45px;
}

.moon-vacation .lead {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Courier New", monospace;
}

.recommendations {
  padding-top: 20px;
  padding-bottom: 55px;
}

.recommendations h3 {
  margin-top: 0;
  margin-bottom: 35px;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Courier New", monospace;
}

.recommendations-list {
  margin: 0;
  padding: 0;
  padding-left: 30px;

  list-style: none;
}

.recommendations-list li {
  position: relative;

  margin-bottom: 20px;
}

.recommendations-list li::before {
  content: "";

  position: absolute;
  left: -25px;
  top: 5px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #feca30;
}

.vacation-request {
  padding: 80px 0;
  color: #000000;
  background-color: #f0f0f0;
}

.vacation-request .lead {
  margin-top: 15px;
  margin-bottom: 35px;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Courier New", monospace;
}

.vacation-request p {
  width: 340px;
}

.vacation-request-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vacation-request-form p {
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
}

.vacation-request-form .half-field {
  width: 215px;
  margin-bottom: 20px;
}

.vacation-request-form input[type="text"],
.vacation-request-form input[type="tel"] {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  border: 0;
}

.vacation-request-form .btn {
  margin-top: 30px;
  text-align: left;
}

.timetable {
  padding: 80px 0;

  color: #ffffff;

  background-color: #222222;
}

.timetable-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 55px;
}

.timetable-info h2 {
  width: 180px;
  margin-top: 15px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Courier New", monospace;
  color: #feca30;
}

.timetable-info p {
  width: 440px;
  padding-top: 0;
  margin-left: auto;
  margin-right: 80px;

  font-size: 13px;
  line-height: 18px;
}

.timetable-info a {
  color: #feca30;
}

.timetable-info a:hover {
  color: white;
}

.timetable-info a:active {
  color: #cccccc;
}

.timetable-fligts {
  width: 100%;

  border-collapse: collapse;
}

.timetable-fligts tr {
  color: white;

  border-bottom: 1px solid #555555;
  background-color: #222222;
}

.timetable-fligts th {
  width: 180px;
  padding: 15px;

  color: white;
  text-align: left;

  background-color: #111111;
}

.timetable-fligts td {
  width: 180px;
  padding: 15px;

  color: white;
  text-transform: uppercase;
}

.timetable-fligts th:last-child {
  width: 140px;
}

.timetable-fligts td:last-child {
  width: 140px;
}

.site-footer {
  padding-top: 50px;
  padding-bottom: 80px;

  color: #ffffff;

  background-color: #131313;
}


.footer-columns-container {
  display: flex;
}

.footer-columns-container .left-column {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin-right: 100px;
}

.footer-columns-container .right-column {
  width: 720px;
  padding-top: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0;
}

.logo-container .logo {
  margin-left: 0;
  margin-right: 20px;
}

.logo-container p {
  font-size: 14px;
}

.copyrights {
  margin-top: auto;

  color: #555555;
}

.footer-menu {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu > li {
  width: 180px;
  margin-right: 60px;
}

.footer-submenu-title {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 20px;

  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 1px solid #555555;
}

.footer-submenu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-submenu > li {
  margin-bottom: 20px;
}

.footer-submenu a {
  text-decoration: none;
  color: #888888;
}

.footer-nav a:hover {
  color: white;
}

.footer-nav a:active {
  color: #ccc;
}
